<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsmynas.filecooperation.ntnucscl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 應用程式包含的服務元件
        <service
            android:name="包含套件名稱的元件類別名稱" >
            ...
        </service>

        <! 應用程式包含的廣播接收元件
        <receiver
            android:name="包含套件名稱的元件類別名稱" >
            ...
        </receiver>

        <! 應用程式需要的額外資訊
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="..." -->
    </application>

    <!-- 設定應用程式需要的操作設備 -->
    <uses-configuration
        android:reqFiveWayNav="false"
        android:reqHardKeyboard="true"
        android:reqKeyboardType="undefined"
        android:reqNavigation="undefined"
        android:reqTouchScreen="finger"
        >

    </uses-configuration>

    <!-- 設定應用程式需要的螢幕設備 -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="480"
        android:compatibleWidthLimitDp="800"
        android:largestWidthLimitDp="1024"
        >

    </supports-screens>
</manifest>